body {
  background-color:#E64848;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  border: 3px dashed ;
}
.marginPicure{
  margin-top: 10px;
  margin-bottom: 20px;
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

input{
  font-family: 'Poppins', sans-serif;
  flex: 1;
  padding: 10px;
}

button{
  font-family: 'Poppins', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

.add {
  background: #65aa06;
  margin-top: 15px;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
  padding: 10px;
  border: none;
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.whiteBG{
   background-color: #fff;
}
